/* In-Game styles used by DomElement Phaser objects */

.area-label {
  color: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  letter-spacing: .7rem;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
  white-space: nowrap;
}

.area-enter-name {
  color: #fff;
  font-size: .5rem;
  text-shadow: 1px 1px 0px #000;
}
.area-enter-name::before {
  content: "- ";
}
.area-enter-name::after {
  content: " -";
}

/* Story / Tutorial box */

#storybox {
  margin: auto;
  width: 80%;
  max-width: 600px;

  padding: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 10px;

  color: #fff;
  background-color: rgba(0,0,0,.5);
  text-shadow: 1px 1px 1px #000;

  font-size: 1.6rem;
  letter-spacing: .1rem;

  font-family: 'Righteous', sans-serif;
}
#storybox div  {
  position: relative;
  top: 3rem;
  font-size: 1rem;
  text-align: center;
}
.keyboard-key {
  border: 1px solid #fff;
  background-color: #222;
  border-radius: 3px;
  padding: 1px 4px 0 6px;
}

/* Names displayed above characters */

.display-name {
  font: .4rem "Righteous", Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 0px rgba(0, 0, 0, .3);
  font-variant: small-caps;
}
.player-name {
  color: #fff;
  font-weight: 400;
}
.ally-name {
  color: #ddd;
  font-size: .3rem;
}
.enemy-name {
  color: #e00;
  font-size: .3rem;
}

/* Dialogue shown on screen */

#speech-box {
  display: flex;
  color: #fff;
  max-width: 80%;
}
#speech-holder {

  display: flex;
  flex-direction: column;

  padding: 4px 3rem;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: rgba(0, 0, 0, .4);
  text-shadow: 1px 1px 1px #000;
}
#speech-holder span {
  font: 900 1rem "Righteous", Helvetica, sans-serif;
  font-variant: small-caps;
  text-shadow: 1px 1px 2px #000;
}
#speech-holder p {
  flex-grow: 1;
  margin: .5rem 0;
  padding: 1rem 0;
  letter-spacing: 2px;
  font: 1.8rem "Righteous", Helvetica, sans-serif;
}
.speech-side {
  width: 64px;
  border-top: 2px solid; /* Adjust the border width as needed */
  border-bottom: 2px solid; /* Adjust the border width as needed */
}
.fade-right {
  border-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.fade-left {
  border-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 1;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.anim-fade {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.anim-fadeIn {
  opacity: 1;
}
