/* Contains most of the styles */

/* Splash Icon */

#splash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

#splash-image {
  max-width: 80%;
}

/* Main menu layout */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}