/* Importer for all other CSS files and variables */

@import url(page.css);
@import url(comms.css);
@import url(main.css);
@import url(ingame.css);

:root {
  --skyy-dark-blue: #1e1e3c;
  --skyy-mid-grey: #50506e;
  --skyy-light-blue: #bebee6;
  --skyy-off-white: #e6e6ff;
}

@font-face {
  font-family: "f-forward";
  src: url('fff-forward.regular.ttf') format('truetype');
}

@font-face {
  font-family: "Righteous";
  src: url('Righteous-Regular.ttf') format('truetype');
}